<ion-header [translucent]="true">
  <ion-toolbar color="calc">
    <ion-title>
      CALCULADORA
    </ion-title>
  </ion-toolbar>

  <!--falta o padrao-->
</ion-header>


<ion-content [fullscreen]="true">

<!--
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
  -->

  <div class="padrao">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Padrão</ion-title>
    <ion-icon slot="end" name="timer-outline"></ion-icon>
  </ion-toolbar>

</div>

  <ion-item>
    <ion-label position="stacked">Operação</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Resultado</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-row class="one">

    <ion-col>
      <ion-button color="dark" fill="outline" [disabled]="true">MC</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="dark" fill="outline" [disabled]="true">MR</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="dark" fill="outline">M+</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="dark" fill="outline">M-</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="dark" fill="outline">MS</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="dark" fill="outline" [disabled]="true">M</ion-button>
    </ion-col>
  </ion-row>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button  color="cinzaclaro" expand="block" >%</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block">√</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >x²</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >¹/X</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >CE</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro"  expand="block">C</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" ><ion-icon name="backspace-outline"></ion-icon></ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >/</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col >
      <div class="numero">
      <ion-button color="claro" expand="block" >7</ion-button>
    </div>
    </ion-col>


    <ion-col>
      <div class="numero2">
      <ion-button color="claro" expand="block">8</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <div class="numero3">
      <ion-button color="claro" expand="block" >9</ion-button>
    </div>
    </ion-col>


    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >x</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>

    <ion-col>
      <div class="numero4">
      <ion-button color="claro" expand="block" >4</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <div class="numero5">
      <ion-button color="claro" expand="block">5</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <div class="numero6">
      <ion-button color="claro" expand="block" >6</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >-</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>

    <ion-col>
      <div class="numero7">
      <ion-button color="claro" expand="block" >1</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <div class="numero8">
      <ion-button color="claro" expand="block">2</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <div class="numero9">
      <ion-button color="claro" expand="block" >3</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >+</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >±</ion-button>
    </ion-col>

    <ion-col>
      <div class="numero0">
      <ion-button color="claro" expand="block">0</ion-button>
    </div>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >,</ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="cinzaclaro" expand="block" >=</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
